body{
    padding: 0%;
    margin: 0%;
    /* display: flex; */
}

#bodyDiv{
    width: 100%;
    margin-top: 70px;
    height: auto;
    padding: 0%;

}

#div1{
    display: flex;
    background-color: aqua;
    /* border: 5px solid green;  */
    color: white;
    width: 100%;
    height: 700px;
    padding: 0%;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/07/19/44/girl-2607110_1280.jpg");
    background-repeat: no-repeat;
     background-attachment: local;  
    background-size: cover;
    justify-content: center;
    align-items: center;
    }
    
    #div1>div{
        text-align: center;
    }

    #div1>div>h1{
        font-size: 70px;
        text-align: center;
        /* width: 70%; */
    }

    #div1>div>button{
        font-size: 20px;
        text-align: center;
        padding: 15px 90px 15px 90px;
        background-color: #25a9e1;
        border: none;
        border-radius: 5px;
        color: white;
        /* width: 70%; */
    }

    #searchbox{
        background-color: #041728;
        margin-top: 0px;
        position: fixed;
        width: 97%;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        display: none;
        justify-content: center;
    }
     
    #searchbox>input{
        width: 95%;
    }

    #cancleSrch{
        display: none;
    }

    form{
        width: 30%;
        /* border: 1px solid blue; */
        margin: auto;
        margin-top: 100px;
        padding: 30px;
        background-color: white;
        margin-left: 35%;
        display: none;
        position: fixed;

        /* background-color: #041728;
        margin-top: 120px;
        position: fixed;
        width: 97%;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center; */
        /* display: none; */
    }

    form>div{
        /* margin-top: -100px; */
        /* border: 1px solid rgb(255, 0, 153); */
        /* flex-direction: column; */
        /* padding: 30px; */
        width: 100%;
        /* background-color: white; */
        margin-top: 0%;
        margin: auto;
        
    }

    input[type="email"],
    input[type="password"]
    {
        width: 95%;
        padding: 2%;
        margin-top: 10px;
        font-size: 20px;
    }

    input[type="submit"]{
        width: 100%;
        /* padding: 2%; */
        font-size: 20px;
        text-align: center;
        padding: 15px 90px 15px 90px;
        background-color: #25a9e1;
        border: none;
        border-radius: 5px;
        color: white;
    }

    

    form>div>p:nth-child(1){
        text-align: end;
    }
    form>div>p:nth-child(7),form>div>h1{
        text-align: center;
    }

    #btnSignInFB{
        background-color: #37518a;
    }

    #div1+div{
        background-color:#25a9e1;
        margin-top: 0px;
        padding-left: 40px;
    }
    #div1+div>div{
        width: 40%;
        padding:40px;
    }
    .btnclass{
        background-color: #041728;
        font-size: 20px;
        text-align: center;
        padding: 15px 90px 15px 90px;
        border: none;
        border-radius: 5px;
        color: white;
    }
    #div1+div>div>h1{
        color: white;
    }

    .para{
        font-size: 20px;
    }

    #Div3{
        display: grid;
        grid-template-columns: repeat(2,1fr);   
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
    }
   
    #Div3>div{
        padding: 20px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .btnDiv3{
        background-color: #25a9e1;
        font-size: 20px;
        text-align: center;
        width: 40%;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        border-radius: 5px;
        color: white;
    }

    .iconsDiv3{
        justify-content: center;
        text-align: center;
    }
    .iconsDiv3>i{
        font-size: 1000%;
        color:  #25a9e1;
    }

    #Div4{
        display: flex;
        background-color: rgb(177, 175, 175);
        height: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #Div4>div{
        display: grid;
        grid-template-columns: repeat(11,1fr);
        grid-template-rows: repeat(1,auto);
        gap: 5px;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #Div4>div>div:nth-child(11){
        background-color:rgb(177, 175, 175);
        color: black;
    }

    #Div4>div>div{
        padding: 5px;
        font-size: 20px;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: white;

    }

    #div4Heading{
        text-align: center;
        margin-top: -30px;
    }


    .ftrPrnt{
        display: flex;
        width: 100%;
        height: 400px;
        background-color:  #25a9e1;
        justify-content: center;
    }

    #footer{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,auto);
        width: 80%;
        margin: auto;
        height: auto;
        justify-content: center;
        /* border: 1px solid green; */
    }

    #footer>div{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        color: white;
    }

    #footer>div>p:nth-child(1){
        color: black;
    }

    #footer>div>div>img{
        width: 70%;
    }

    #footer>div:nth-child(4)>div>img{
        width: 20%;
    }

